
<!DOCTYPE html>
<meta charset="UTF-8">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <div id="app">
        <div>
            <div class="container">
                <div class="search">
                    <input type="search" v-on:keydown.enter="filterGoods(searchLine)" v-model="searchLine" placeholder="Type and press enter">
                    <button v-on:click="filterGoods(searchLine)">Поиск</button>
                </div>
                <!-- <button class="cart-button" v-bind:class="{ activebutton: isVisibleCart }" v-on:click="viewCart()">Корзина<span>{{totalPriceCoin}}</span></button> -->
            </div>
        </div>
        <div class="container">
            <div class="goods-list">
                <h2>Товары в продаже</h2>
                <template v-for="good in filteredGoods">
                <div class="goods-item">
                    <h3>{{good.product_name}}</h3>
                    <p>{{good.price}}</p>
                    <button :data-id="good.id_product" @click="addToBasket(good)">Добавить</button>
                </div>
                </template>

                <template v-if="filteredGoods.length == 0">
                    <h3 class="goods-null">Нет данных / Товары не найдены</h3>
                </template>
            </div>
                <h2>Корзина</h2>
                <div class="basket-item" v-for="good in basketGoods">
                    <button :data-id="good.id_product" @click="deleteItem(good)">Удалить</button>
                    <div class="basket-item-info">
                        <h3>{{good.product_name}}</h3>
                        <p>{{good.price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="script2.js"></script>
</html>